version: '3.8'

services:
    web:
      image: "testtask:latest"
      ports:
        - 8000:8000
      env_file:
        - ./.env
      depends_on:
        - db
    db:
      image: postgres:13.0-alpine
      volumes:
        - postgres_data:/var/lib/postgresql/data/
      environment:
        - POSTGRES_USER=admin_django
        - POSTGRES_PASSWORD=Gf898ubT7xjpRUt2FdYs
        - POSTGRES_DB=test_task

volumes:
  postgres_data: